{% extends 'base.html.twig' %}
{% trans_default_domain "kitchen-project" %}
{% block title %}{{ "title.picture.admin.show"| trans }}{% endblock %}

{% block body %}
<h1 class="text-center mt-5">{{ "title.picture.admin.show"| trans }}</h1>
{% endblock %}
