{% extends 'admin/base.html.twig' %}
{% trans_default_domain 'kitchen-project' %}

{% block title %}{{ "title.recipe.new"|trans }}{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">{{ "title.recipe.new"|trans }}</h1>

    {{ include('admin/recipe/_form.html.twig') }}

    <a href="{{ path('admin_recipe_index') }}">back to list</a>
{% endblock %}
