{% trans_default_domain "kitchen-project" %}
{% extends "base.html.twig" %}

{% block title %}{{ "title.user.recipe"| trans }}{% endblock %}


{% block body %}
<h1 class="text-center mt-5">{{ "title.user.recipe"| trans }}</h1>
{% endblock %}

